.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 55%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 45%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 8%
    right: 90%
.imagen-principal
    position: absolute
    top: 10%
    right: 55%  


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.barrita
  color: #FF6B00

.tarjeta-gris
  color: #F6F6F6

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
    color: $color-sistema-texto;



